<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Slapdash</h1>
  <h4>(A Random Party Generator)</h4>
  <label class="form-label" for="customRange1">Party Size: <output id="ageOutputId">4</output></label>
  <div class="range w-25">
    <input type="range" class="form-range" id="ageInputId" value="4" min="1" max="7" [(ngModel)]="sliderValue" #slider="ngModel" oninput="ageOutputId.value = ageInputId.value" >
  </div>
 
    <a href="#" class="btn btn-primary" (click)="generateParty()">Generate Party</a>
    <output [(ngModel)]="sliderValue" value={{errMessage}}></output>
    <br />
    <div class="form-check form-switch">
      <label class="form-check-label" for="flexSwitchCheckDefault">Animations</label>
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="displayAnimationsAlways">
    </div>
</div>
<div class="row">
  <div [ngClass]="showMyClass ? 'cardcon' : 'cardswp'" class="col-md-3"
      *ngFor="let charac of party;let i = index;">
    <div id="{{'cardIdx_'+i}}" class="card" (mouseenter) ="mouseEnter($event)"  (mouseleave) ="mouseLeave($event)">
      <img id="{{'imgStatic_'+i}}" [ngClass]="displayAnimationsAlways ? 'staticImg card-img-top d-none' : 'card-img-top'" src="{{ charac.picture }}" alt="Card image" >
      <img id="{{'imgDynamic_'+i}}" [ngClass]="displayAnimationsAlways ? 'card-img-top' : 'card-img-top d-none'" src="{{charac.dynpic}}" >
      <div class="card-body">
        <h4 class="card-title">{{ charac.name }}</h4>
        <p class="card-text">{{ charac.sources }}</p>
        <a href="#" class="btn btn-primary" (click)="swapCharacter(charac.name)">Swap</a>
      </div>
    </div>
  </div>
</div>