.card {
    margin-top: 15px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.static {
    position:absolute;
    background: white;
  }
  
  .static:hover {
    opacity:0;
  }